<%- include('includes/head'); %>

<section class="container">
  <h1><%= umaVariavelLocal %></h1>

  <form action="/" method="post">
    <label>Cliente</label>
    <input type="text" name="cliente">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer'); %>