<%- include('includes/head'); %>

<section class="container">
  <h1><%= csrfToken %></h1>

  <form action="/" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label>Cliente</label>
    <input type="text" name="cliente">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer'); %>