<% if (errors.length > 0) { %>
<div class="row">
  <div class="col my-3">
    <div class="alert alert-danger">
      <% errors.forEach(erro => { %>
      <%= erro %><br>
      <% }); %>
    </div>
  </div>
</div>
<% } %>

<% if (success.length > 0) { %>
<div class="row">
  <div class="col my-3">
    <div class="alert alert-success">
      <% success.forEach(success => { %>
      <%= success %><br>
      <% }); %>
    </div>
  </div>
</div>
<% } %>